{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
<h1>인기메뉴</h1>
{% for i in menu_category %}
    <h1>{{ i }}</h1>
    <div class="row">
    {% for j in menus %}
        {% if j.category == i %}
        <div class="col-2 px-2 pb-2">
            <div class="card p-0">
              <img width="100vw" height="180rem" class="card-img-top" src="{{ j.image.url }}" alt="Card image">
              <div class="card-body row px-3 py-2">
                  <div class="col-6">
                      <h4 class="card-title">{{ j.name }}</h4>
                      <p class="card-text">{{ j.price }}원</p>
                  </div>
                  <div class="col-6 py-1 px-0 row d-flex justify-content-end">
                      <div class="my-2 text-center ">
                        <a href="#" class="btn btn-primary">매진</a>
                        <a href="#" class="btn btn-primary">수정</a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}